@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --primary-color:#F54749;
    --dark-color:#121212;
    ---main-padding:5rem 0;
    --mid-padding:4rem 0;
    --padding:3rem 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: #f7f6f4 !important;
}
h1,h2,h3,h4,h5,h6,p{
   margin-bottom: 0;
}
/* ******* */
.Nav_main{
    background: var(--dark-color);
}
.Nav_main a:hover{
color: var(--primary-color)!important;
}
.nav-link{
    color: white !important;
    font-size: 1.3rem !important;
}
.icons i{
    color: white;
    font-size: 1.7rem;
}
.icons img:hover,
.icons i:hover {
    transform: scale(1.1);    
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.About{
    border-radius: 30px;
    box-shadow: 0 0 40px 3px #d9d9d9;
    cursor: pointer;
}
.btn1 {
border: 0;
background: var(--primary-color);
color: #fff;
padding: 0.5rem 1.5rem;
border-radius: 5px;
border: 2px solid transparent;

}
.btn1:hover {
    transform: scalex(1.06);    
    transition: 0.3s ease-in-out;
    background: transparent;
    border: 2px solid var(--primary-color);
}

.navbar-nav li{
    padding: 0 0.7rem;
}
.Hero_main{
    background: var(--dark-color);
    color: white;
    padding: var(--padding)
}
.Hero_main img:hover{
    transform: scale(1.05);
    cursor: pointer;
    transform: 1.04 ease-in-out;
}
.btn0{
    padding: 0.8rem 1.4rem;
}
.btn0:hover,.btn00:hover {
    transform: scalex(1.06);    
    transition: 0.3s ease-in-out;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: #fff;;
}
.btn_0:hover{
    transform: scale(1.06);    
    transition: 0.3s ease-in-out;
    background: var(--dark-color);
    border:transparent;
    color: #fff;;
}


.btn00{
    padding: 0.8rem 1.4rem;
    color: black;
    background: white;
    font-weight: 400;
}
.hero_col1 h1{
    font-size: 3.4rem;
    font-weight: 600;
}

.main-heading{
    font-weight: 600;
    font-size: 2.6rem;
}
.main-heading span{
    color: var(--primary-color);
}

.delivery_col1{
    margin: 0 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 40px 3px #d9d9d9;
}
.delivery_col1:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 10px 1px var(--primary-color);

}
.delivery_col1 h3{
    padding-top: 1rem;
    font-size: 1.5rem;
}
.about_col2 h3{
    font-size: 1.8rem;
    color: var(--primary-color);

}
.about_col2 h1{
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1rem 0;
}
.main-p{
   font-size: 1.1rem; 
   font-weight: 500;
}
.counter h2{
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--primary-color);
}
.TopCollections{
    opacity: 0.95;
}
.TopCollections img:hover{
    transform: scale(1.06);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 40px 3px #d9d9d9;
    opacity: 1;
}
.chef_names{
    padding-top: 0.5rem;
}
.test_col1 img{
border-radius: 10px;
}
.team_col1 img{
    transform: scale(1.06);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.Testimonial{
    cursor: pointer;
}
.Footer{
    background: var(--dark-color);
}
.Footer_nav{
    justify-content: center;

}
.Footer_nav li{
padding: 0 1rem;
list-style: none;
}

.Footer_nav a:hover{
    color: var(--primary-color)!important;

}

.Footer_icons i{
    font-size: 1.4rem;
    color: #fff;
    padding: 0 0.5rem;
}
.Footer_icons i:hover{
cursor: pointer;
transform: scale(1.3);
color: var(--primary-color);
transition: 0.3s ease-in-out;
}

.Footer_row{
    border-top: 2px solid #fff;
}
.Collections1,
.Testimonial1{
    display: block;
}
.Collections2,.Testimonial2{
    display: none;
}

@media only screen and (min-width:320px) and (max-width:476px){
    .navbar-brand img{
        width: 150px;
    }
    .navbar-toggler-icon{
        color: #fff;
        height: auto;
        font-size: 1.4rem;
    }
    .navbar-toggler{
        padding: 0.5rem !important;
    }
    .nav-main{
        padding: 0.8rem;
    }
    .hero_col1 h1 {
        font-size: 2.1rem;
    }
    .hero_col2{
    padding-top: 2rem ;
    }
    .delivery_col1 {
        margin: 1rem;
    }
    .main-heading {
        font-size: 1.7rem;
    }
    .about_col2{
        padding: 2.2rem 0;
    }
    .about_col2 h1 {
        font-size: 2.2rem;
    }
    .btn_0{
        padding:0.8rem ;
    }
    .Collections1,
    .Testimonial1{
        display: none;
    }
    .Collections2,
    .Testimonial2{
        display: block;
    }
    .team_col1{
        padding: 1rem 0;
    }
    .test_col2{
        padding: 1.5rem 0;
    }
    .test_col1{
        padding: 1rem 0;
    }
    .Footer_nav li{
        padding: 0.8rem 0 !important;
    }
    .Footer_nav ul{
        padding-left: 1rem !important;
    }
}